@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');


nav {font-family: sans-serif;
     font-size: 10px;
    }

body {
    font-family: 'lato',sans-serif;
    background-image: url("./img/map-bg.jpg");
}

#main {width: 900px;
     margin: 10px auto;
    }

 h1 {
    font-family: 'Supermercado One', cursive;
    color: #5d4037 ;
 }

#menu {
    columns: 400px 2;
     column-gap: 100px;
     column-rule: 2px dashed rosybrown;
    }

section {
    margin-bottom: 50px;
}

h2 {
    margin: 0;
    color:#6d4c41;
    font-variant: small-caps;
}

dt {
    font-size: 20px;
    font-weight: bold;
}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {
    order: 2; 
    padding-left: 10px;
    color: firebrick;
    font-size: large;
}

address {
    padding: 10px;
    border:  2px dashed rosybrown;
}